extend explore

block content
    a(href='/explore/') Back to the Legends
    h2#legendInfo= legends.name
        ul
            br
            h2= "Real Name: "
            h2= legends.real_name
            br
            h3= "Gender: "
            h3= legends.gender
            br
            h3= "Age: "
            h3= legends.age
            br
            h3= "Home World: "
            h3= legends.home_world
            br
            h3= "Role: "
            h3= legends.role
            br
            //- h3= "Primary Passive Ability: "
            //- h3= legends.prim_passive
            //- br
            //- h3= "Secondary Passive Ability: "
            //- h3= legends.sec_passive
            //- br
            //- h3= "Tactical Ability: "
            //- h3= legends.tactical
            //- br
            //- h3= "Ultimate Ability: "
            //- h3= legends.ultimate
            //- br
            h3= "Bio: " 
            h3= legends.back_story
            br
            //- form(method="POST" action="/account/favorites/add")
            //-         input(type='hidden' name="movie_id" value=movie_id)
            //-         button.btn.btn-primary Add to 'Wet My Pants List'
            //- hr
            //- form(method="POST" action="/account/to-watch/add")
            //-         input(type='hidden' name="movie_id" value=movie_id)
            //-         button.btn.btn-primary Add to 'My Pants Are Still Dry List'