extend account

append base
    br
    br
    div#legendInfo
        ul
            li
                br
                h1 Legend Name: 
                h2 #{legend1Name}              
                br
                br
                h1 #{legend1StatTracker1} 
                h2 #{legend1StatTracker1Data}
                br
                br
                h1 #{legend1StatTracker2} 
                h2 #{legend1StatTracker2Data}
                br
                br
                h1 #{legend1StatTracker3}
                h2 #{legend1StatTracker3Data}
                br
                h1 Legend Name: 
                h2 #{legend2Name}              
                br
                br
                h1 #{legend2StatTracker1} 
                h2 #{legend2StatTracker1Data}
                br
                br
                h1 #{legend2StatTracker2} 
                h2 #{legend2StatTracker2Data}
                br
                br
                h1 #{legend2StatTracker3}
                h2 #{legend2StatTracker3Data}
                br
                h1 Legend Name: 
                h2 #{legend3Name}              
                br
                br
                h1 #{legend3StatTracker1} 
                h2 #{legend3StatTracker1Data}
                br
                br
                h1 #{legend3StatTracker2} 
                h2 #{legend3StatTracker2Data}
                br
                br
                h1 #{legend3StatTracker3}
                h2 #{legend3StatTracker3Data}